.all_page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0b263dcf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7%;
}

.bg_main {
  background-color: darkblue;
}
.bg_header {
  background-color: #01010a;
}

h5 {
  font-size: 16px;
  font-weight: bold;
}
